.bloodreq-details
{
    position: relative;
    left: 300px;
    /* left: 200px; */
    width: 700px;
    padding: 15px;
    padding-left: 25px;
    border-radius: 5px;
}

.bloodreq-details p
{
    font-size: 13pt;
}
#heading
{
    color: rgb(252, 252, 252);
    padding: 5px 5px;
    font-size: 13pt;
    max-width: 200px;
    display: ruby;
    border-bottom: 1px solid red;
}

#req-title
{
    position: relative;
    left: -20px;
    font-size: 15pt;
}